<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @user.last_name %>,</p>
    
    <p>You have requested to reset your password.
    Please follow this link: <%= "#{@host}/password_resets/#{@user.   password_reset_token}" %>
    </p>
    
    <p>This reset password URL is only valid for the next 24 hours.</p    >
    
    <p>------------------------------</p>
    <p>ABA Admin</p>
    <p><a href="www.alphabetaacademy.org">www.alphabetaacademy.org</a>    </p>
    <p><%= Time.now.strftime("%m-%d-%Y %H:%M:%S") %></p>
    <p>------------------------------</p>
  </body>
</html>
